/* Add CSS Styling */
.odd {
    background-color: rgb(253, 172, 185);
    font-family: Verdana, "DejaVu sans", sans-serif;
}

.bold {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: rgb(113, 255, 4);
    font-weight: bold;
    font-size: 24px;
} 